footer
  .container.text-center
    p.float-left © 2018 Hackatel, Lima - Perú
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/VanDerCroix/hackatel2018') GitHub Project
